<div class="container centrado">
    <H1>La Comandita</H1>

    <div id="contenedorHome" class="col-10 offset-1">
        <p-galleria id="galeria" [showCaption]="false" [showFilmstrip]="false" [images]="images" panelWidth="820" panelHeight="300"></p-galleria>

        <div class="centrado" id="descripcion">
            <h2> Bienvenido</h2>
            <p> Sientase como en su casa mientras disfruta de los platos más deliciosos</p>
            <p>
                Nuestro restaurante tiene un servicio de la más alta calidad, con cuatro sectores bien diferenciados:
            </p>
            <p>🍷 Barra de tragos y vinos, en nuestra entrada.</p>
            <p>🍺 Barra de choperas y de cerveza artesanal, en el patio trasero.</p>
            <p>🥩 Cocina, donde se preparan todos los platos de comida</p>
            <p>🍨 Candy Bar, que se encarga de la preparación de postres artesanales.</p>
        </div>
    </div>
    <div class="col-1 left">
        <i class="pi pi-arrow-circle-right" id="btnEntrar" routerLink="/login"> </i>
    </div>
</div>