<div class="container">
    <div>
        <img src="../../../favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
        <label> Comanda</label>
    </div>
    <div id="divUsuario">
        <div id="divDetalleDeOrden" *ngIf="mostrarDetalle">
            <i class="fas fa-arrow-right"></i>
            <img class="pedido" title="Detalle del pedido" src="../../../assets/imagenes/orden.png" alt="Detalle de orden" (click)="LanzarEventoMostrarPedido()">
        </div>


        <label *ngIf="user.role=='cocinero'"><img class="fotoPerfil"  src="{{user.imagen}}" alt="foto de perfil">
            {{user.nombre}}|| <i class="fas fa-utensils"></i>
            {{user.role}}</label>
        <label *ngIf="user.role=='bartender'"><img class="fotoPerfil" src="{{user.imagen}}" alt="foto de perfil">
            {{user.nombre}}|| <i class="fas fa-glass-martini">
                {{user.role}}</i>
        </label>
        <label *ngIf="user.role=='cervecero'"><img class="fotoPerfil" src="{{user.imagen}}" alt="foto de perfil">
            {{user.nombre}}|| <i class="fas fa-beer"></i>
            {{user.role}}</label>
        <label *ngIf="user.role=='admin'"><img class="fotoPerfil" src="{{user.imagen}}" alt="foto de perfil">
            {{user.nombre}}|| <i class="far fa-handshake"></i>
            {{user.role}}</label>
        <label *ngIf="user.role=='mozo'"><img class="fotoPerfil" src="{{user.imagen}}" alt="foto de perfil">
            {{user.nombre}}|| <i class="far fa-user"></i>
            {{user.role}}</label>
        <label *ngIf="user.role=='cliente'"><img class="fotoPerfil" src="{{user.imagen}}" alt="foto de perfil">
            {{user.nombre}}|| <i class="far fa-user"></i>
            {{user.role}}</label>

        <!-- <img src="../../../assets/imagenes/jonathan.jpeg" width="30" height="30" class="d-inline-block align-top"
            alt=""> -->
        <!-- -->
        <div class="logout" (click)="logout()">
            <label *ngIf="user.role">||Logout <i class="fas fa-sign-out-alt"></i></label>
        </div>


    </div>
</div>