<div class="container centrado">
    <div id="divCerrar" class="btnPropio" (click)="CerrarDetallado()">❌</div>
    <h1>Detalle del pedido</h1>

    <p> Comidas
        <p-inputSwitch [(ngModel)]="checkedComidas"> </p-inputSwitch>
    </p>
    <p> Bebidas
        <p-inputSwitch [(ngModel)]="checkedBebidas"></p-inputSwitch>
    </p>
    <p> Tragos
        <p-inputSwitch [(ngModel)]="checkedTragos"></p-inputSwitch>
    </p>
    <p> Postres
        <p-inputSwitch [(ngModel)]="checkedPostres"></p-inputSwitch>
    </p>
    <app-tabla-orden-pedido *ngIf="checkedComidas" [lista]="pedidos.comidas" [sector]="'Comidas'">
    </app-tabla-orden-pedido>
    <app-tabla-orden-pedido *ngIf="checkedBebidas" [lista]="pedidos.bebidas" [sector]="'Bebidas'">
    </app-tabla-orden-pedido>
    <app-tabla-orden-pedido *ngIf="checkedTragos" [lista]="pedidos.tragos" [sector]="'Tragos'">
    </app-tabla-orden-pedido>
    <app-tabla-orden-pedido *ngIf="checkedPostres" [lista]="pedidos.postres" [sector]="'Postres'">
    </app-tabla-orden-pedido>

    <button id="btnNotificarMozo" class="btn btn-success btnPropio" (click)="confirmarPedido()">Hacer pedido</button>
    <app-dialog-confirmar (eventCancelar)="cancelarConfirmacion()" (eventConfirmar)="pedidoConfirmado()" *ngIf="mostrarConfirmacion" [mensaje]="'Quiere confirmar el pedido?'"></app-dialog-confirmar>
    <p-toast [style]="{marginTop: '80px'}" styleClass="custom-toast" key="confirmado" position="bottom-center"></p-toast>
    <p-toast [style]="{marginTop: '80px'}" styleClass="custom-toast" key="actualizado" position="bottom-center"></p-toast>
</div>