<div class="container col-12 centrado">
    <app-header [user]="usuario" [mostrarDetalle]="mostrarIconoDeDetalle" (EventMostrarPedido)="verListaDePedidos()">
    </app-header>
    <div id="listaDePedidosAConfirmar" *ngIf="mostrarPedidosAConfirmar">
        <div id="divSwitches" class="col-12">
            <p class=" col-4"> Pedidos Pendientes
                <p-inputSwitch [(ngModel)]="checkedPendientes" (click)="toglePendientes()"> </p-inputSwitch>
            </p>
            <p class=" col-4"> Pedidos listos para servir
                <p-inputSwitch [(ngModel)]="checkedListos" (click)="cargarPedidosListos()"> </p-inputSwitch>
            </p>
            <p class=" col-4"> Clientes esperando la cuenta
                <p-inputSwitch [(ngModel)]="checkedACobrar" (click)="cargarPedidosACobrar()"> </p-inputSwitch>
            </p>
        </div>
        <div id="tablas" class="col-10">

            <div id="tablaPendientes" class="col-12">
                <table class="table table">
                    <tbody>
                        <tr (click)="leerPedido(pedido)" *ngFor="let pedido of pedidosAMostrar">
                            <td *ngIf="pedido.estado=='leido' || pedido.estado=='confirmado'"></td>
                            <td>
                                <i *ngIf="pedido.estado=='leido' || pedido.estado=='confirmado'" class="far fa-envelope-open">Leido</i>
                                <i *ngIf="pedido.estado!='leido' && pedido.estado!='confirmado'" class="fas fa-envelope">Sin
                                    leer</i>
                            </td>
                            <td *ngIf="pedido.estado=='leido' || pedido.estado=='confirmado'"></td>
                            <td *ngIf="pedido.estado!='confirmado'">
                                <button class="btn btn-success" (click)="ConfirmarOrden(pedido)">Confirmar</button>
                            </td>
                            <td *ngIf="pedido.estado!='confirmado'">
                                <button class="btn btn-danger" (click)="RechazarOrden(pedido)">Borrar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- LISTOS -->
            <div id="tablaListos" class="col-12">
                <table class="table table" *ngIf="checkedListos">
                    <tbody>
                        <tr *ngFor="let pedido of pedidosListos">
                            <td>{{pedido.mesa}} </td>
                            <td>{{pedido.orden}} </td>
                            <td> <button class="btn btn-success" (click)="entregarPedido(pedido)">Entregar
                                    pedido</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Cobrar pedidos -->
            <div id="tablaACobrar" class="col-8 offset-2">
                <table class="table table" *ngIf="checkedACobrar">
                    <thead>
                        <tr>
                            <th>Mesa</th>
                            <th>Orden</th>
                            <th>Facturacion</th>
                            <th>Propina</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pedido of pedidosACobrar">
                            <td>{{pedido.mesa}} </td>
                            <td>{{pedido.orden}} </td>
                            <td>{{pedido.facturacion|precio}} </td>
                            <td *ngIf="pedido.propina>0">{{pedido.propina | propina}} </td>
                            <td *ngIf="pedido.propina==0">{{pedido.propina | propina}}</td>
                            <td> <button class="btn btn-success" (click)="cobrarPedido(pedido)">Cobrar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div *ngIf="mostrarPedidosAConfirmar">
        <div class="col-12 centrado">
            <p class="col-3"> Comidas
                <p-inputSwitch [(ngModel)]="checkedComidas"> </p-inputSwitch>
            </p>
            <p class="col-3"> Bebidas
                <p-inputSwitch [(ngModel)]="checkedBebidas"></p-inputSwitch>
            </p>
            <p class="col-3"> Tragos
                <p-inputSwitch [(ngModel)]="checkedTragos"></p-inputSwitch>
            </p>
            <p class="col-3"> Postres
                <p-inputSwitch [(ngModel)]="checkedPostres"></p-inputSwitch>
            </p>
        </div>
        <app-tabla-orden-pedido *ngIf="checkedComidas" [lista]="pedidoActual.comidas" [sector]="'Comidas'">
        </app-tabla-orden-pedido>
        <app-tabla-orden-pedido *ngIf="checkedBebidas" [lista]="pedidoActual.bebidas" [sector]="'Bebidas'">
        </app-tabla-orden-pedido>
        <app-tabla-orden-pedido *ngIf="checkedTragos" [lista]="pedidoActual.tragos" [sector]="'Tragos'">
        </app-tabla-orden-pedido>
        <app-tabla-orden-pedido *ngIf="checkedPostres" [lista]="pedidoActual.postres" [sector]="'Postres'">
        </app-tabla-orden-pedido>
    </div>
</div>
<p-progressSpinner class="spinner" *ngIf="mostrarSpinner" [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>

<p-toast [style]="{marginTop: '80px'}" styleClass="custom-toast" key="ordenConfirmada" position="bottom-center"></p-toast>
<p-toast [style]="{marginTop: '80px'}" styleClass="custom-toast" key="entregarPedido" position="top-right"></p-toast>
<p-toast [style]="{marginTop: '80px'}" styleClass="custom-toast" key="cobrarPedido" position="bottom-center"></p-toast>