<div class="container centrado">
  <div class="header-Login shadow-pop-tr">

    <!-- <img id="imgPerfil " src="./assets/imagenes/login.png" alt="Avatar"> -->
  </div>
  <div class="body-login col-6 offset-3 shadow-pop-tr">
    <h1 *ngIf="login" class="rotateAnimation">LOGIN</h1>
    <h1 *ngIf="register" class="rotateAnimation">REGISTER</h1>
    <br>
    <form [formGroup]="formLogin">
      <div class="form-group">
        <input type="nombre" class="form-control centrado" [(ngModel)]="usuario.nombre" name="nombre"
          placeholder="Enter nombre" formControlName="nombre">
        <label class="labelError" *ngIf="formLogin.get('nombre').hasError('required')">Ingrese nombre</label>
      </div>
      <div class="form-group">
        <input type="clave" class="form-control centrado" [(ngModel)]="usuario.clave" name="clave" placeholder="clave"
          formControlName="clave">
        <label class="labelError" *ngIf="formLogin.get('clave').hasError('required')">Ingrese clave</label>
        <label class="labelError" *ngIf="formLogin.get('clave').hasError('minlength')">Minimo 4 caracteres</label>
        <label class="labelError" *ngIf="formLogin.get('clave').hasError('maxlength')">Maximo 15 caracteres</label>
      </div>
      <!--  -->
      <button *ngIf="login" type="submit" class="btn btn-primary col-4 rotateAnimation" (click)="onLogin()"
        [disabled]="formLogin.invalid">Ingresar</button>
      <button *ngIf="login" type="submit" class="btn btn-success col-4 offset-2 rotateAnimation"
        (click)="toggle()">Registrarse</button>
      <button *ngIf="register" type="submit" class="btn btn-success col-4 rotateAnimation" (click)="onRegister()"
        [disabled]="formLogin.invalid">Registrar</button>
      <button *ngIf="register" type="submit" class="btn btn-secondary col-4 offset-2 rotateAnimation"
        (click)="toggle()">Cancelar</button>
      <div>
        <label class="labelError " *ngIf="mostrarErrorInvalidusuario">Datos Invalidos</label>
        <label class="labelError" *ngIf="mostrarErrorInvalidMail">El mail no cumple con el estilo de un mail
          valido</label>
      </div>
    </form>
    <label class="invalidUser" *ngIf="invalidUser">Datos Invalidos</label>
    <!-- ACCESO RAPIDO -->

    <div id="divMostrarAcceso" (click)="toggleAcceso()" *ngIf="!mostrarAccesoRapido">
      <button class="btn btn-outline-danger btn-sm accesoRapido" title="Usuarios de Acceso Rapido">
        <i  class="fas fa-paste" ></i>
      </button>
    </div>
    
    <div id="AccesoRapido" *ngIf="mostrarAccesoRapido">
      <button class="btn btn-outline-danger btn-sm accesoRapido" title="Cocinero"><i class="fas fa-utensils"
          (click)="cargarUsuario($event)"></i></button>
      <button class="btn btn-outline-success btn-sm accesoRapido" title="Bartender"><i class="fas fa-glass-martini"
          (click)="cargarUsuario($event)"></i></button>

      <button class="btn btn-outline-warning btn-sm accesoRapido" title="Cervecero"><i class="fas fa-beer"
          (click)="cargarUsuario($event)"></i></button>

      <button class="btn btn-outline-info btn-sm accesoRapido" title="Socio"><i class="far fa-handshake"
          (click)="cargarUsuario($event)"></i></button>

      <button class="btn btn-outline-primary btn-sm accesoRapido" title="Mozo"><i class="far fa-user"
          (click)="cargarUsuario($event)"></i></button>
    </div>
    <!-- FIN ACCESO RAPIDO -->
  </div>
</div>